
/* Height & Width of 100px
-Background color to pink
-Border to 2px solid black
-Make this div in the shape of circle
-Place all the 3divs in a single line */

div{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color:pink;
    border: 2px solid black;
    border-radius: 50px;
    
}

