div{
    background-color: yellow;
}

form{
    background-color: inherit;
}
button{
    background-color:inherit;
}

input{
    background-color:inherit;
}

button:hover{
    background-color: red;
}